.diet-programm {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: $primary-color;

  background: url("../img/index-background-mobile@1x.jpg") no-repeat center top, linear-gradient(180deg, transparent 305px, #ffffff 50%), linear-gradient(90deg, #65a93c 50%, #63a73a 50%);
}

.diet-programm__title {
  margin-bottom: 24px;

  text-align: center;
  line-height: 36px;
  color: $primary-color;
}

.diet-programm__sub-title {
  padding: 0 35px;
  margin: 0 0 28px 0;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.diet-programm__image-small {
  margin-bottom: 4px;
}

.diet-programm__image-middle {
  display: none;
}

.diet-programm__image-big {
  display: none;
}

.diet-programm__select {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .diet-programm {
    position: relative;

    align-items: flex-start;

    color: $title-color;

    background: none;
  }

  .diet-programm__title {
    @include big-title;

    padding: 0 90px;
    margin-bottom: 41px;

    text-align: left;
    color: $title-color;
  }

  .diet-programm__sub-title {
    padding-left: 90px;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 20px;
  }

  .diet-programm__image-small {
    display: none;
  }

  .diet-programm__image-middle {
    display: block;
  }

  .diet-programm__select {
    position: absolute;

    width: 205px;
    padding: 18px;
    left: 120px;
    bottom: 530px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .diet-programm {
    position: relative;
    flex-wrap: wrap;

    &::after {
      position: absolute;
      z-index: -1;

      right: -70px;
      top: 0;

      width: 720px;
      height: 696px;

      content: "";

      background: url("../img/index-background-desktop@1x.jpg") no-repeat 0 0;

    }
  }

  .diet-programm__title {
    width: 420px;
    padding: 0 0 0 80px;
    margin: 70px 0 45px;
  }

  .diet-programm__sub-title {
    padding: 0 0 0 80px;
    margin-bottom: 50px;
  }

  .diet-programm__image-middle {
    display: none;
  }

  .diet-programm__image-big {
    position: absolute;
    top: 142px;
    right: 258px;

    display: block;
  }

  .diet-programm__select {
    position: initial;

    margin-left: 80px;
  }
}
