.diet-programm {
  color: $primary-color;
  text-align: center;

  background: url("../img/index-background-mobile@1x.jpg") no-repeat center top, linear-gradient(180deg, $content-color 305px, transparent 50%);
}

.diet-programm__sub-title {
  padding: 0 35px 25px;
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.diet-programm__food-image {
  margin-bottom: 3px;
}

.diet-programm__select {
  width: 280px;
}
