.diet-programm {
  color: $primary-color;

  &::after {
    position: absolute;
    z-index: -1;

    right: 0;
    top: 0;

    width: 100%;
    height: 305px;

    content: "";

    background: $background-cat url("../img/index-background-mobile@1x.jpg") no-repeat top right;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: $background-cat url("../img/index-background-mobile@2x.jpg") no-repeat top right;
      background-size: cover;
    }
  }
}

.diet-programm__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diet-programm__title {
  margin-bottom: 25px;
  width: 90%;

  line-height: 36px;
  text-align: center;
  color: $primary-color;
}

.diet-programm__sub-title {
  padding: 0 35px;
  margin: 0 0 28px 0;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.diet-programm__select {
  width: 260px;
}

@media (min-width: $tablet-width) {
  .diet-programm {
    color: $title-color;

    &::after {
      background: none;
    }
  }

  .diet-programm__wrapper {
    align-items: flex-start;
  }

  .diet-programm__title {
    @include big-title;

    padding: 0 90px;
    margin-bottom: 41px;
    width: 80%;

    text-align: left;
    color: $title-color;
  }

  .diet-programm__sub-title {
    padding-left: 90px;
    margin-bottom: 18px;

    font-size: 20px;
    line-height: 20px;
  }

  .diet-programm__select {
    position: absolute;

    width: 210px;
    padding: 16px;
    left: 120px;
    bottom: 530px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .diet-programm {
    &::after {
      position: absolute;
      z-index: -1;

      right: 0;
      top: -130px;

      width: 50%;
      height: 696px;

      content: "";

      background: $background-cat url("../img/index-background-desktop@1x.jpg") no-repeat top right;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: $background-cat url("../img/index-background-desktop@2x.jpg") no-repeat top right;
        background-size: cover;
      }
    }

    &::before {
      position: absolute;
      z-index: -1;

      right: 0;
      top: -506px;

      width: 50%;
      height: 100%;

      content: "";

      background-color: $background-cat;
    }
  }

  .diet-programm__wrapper {
    @include desktop-wrapper;

    position: relative;

    flex-wrap: wrap;
    margin: 0 auto;
  }

  .diet-programm__title {
    width: 420px;
    padding: 0 0 0 80px;
    margin: 70px 0 45px;
  }

  .diet-programm__sub-title {
    padding: 0 0 0 80px;
    margin-bottom: 50px;
  }

  .diet-programm__image {
    position: absolute;
    top: -8px;
    right: 258px;

    display: block;
  }

  .diet-programm__select {
    position: static;

    margin-left: 80px;
  }
}
