.form__description {
  display: block;
  width: 84%;
  margin-bottom: 39px;

  text-transform: uppercase;
  font-weight: 400;
  color: $title-color;
}

.form__group {
  position: relative;

  margin-bottom: 28px;

  &--additional {
    margin-bottom: 42px;
  }

  &::before {
    position: absolute;
    top: 14px;
    right: 0;

    width: 100%;
    height: 3px;

    content: "";

    background-color: $content-color;
    z-index: -1;
  }

  &--general {
    margin-bottom: 31px;

    &::before {
      height: 0;
    }
  }
}

.form__item-list {
  @include reset-list;

  padding-bottom: 24px;
  margin-bottom: 24px;

  border-bottom: 1px solid $border-goods-color;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  &--contacts,
  &--additional {
    padding-bottom: 0;

    border-bottom: none;
  }
}

.form__item {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 14px;

  @include mobile-wrapper;
  @include form-small-text;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  &--programm,
  &--additional {
    margin-bottom: 25px;
  }
}

.form__label {
  position: relative;

  margin-right: 15px;

  color: $title-add-goods-color;
  text-transform: uppercase;

  cursor: pointer;

  &--radio,
  &--checkbox {
    padding-left: 46px;
    margin-right: 0;

    &::before {
      position: absolute;
      left: 0;
      top: -5px;


      width: 28px;
      height: 28px;

      content: "";

      border: 1px solid $border-indicator;
    }
  }

  &--radio {
    &::before {
      border-radius: 50%;
    }
  }
}

.form__input-text {
  flex-grow: 1;
  padding: 12px 15px 13px;

  border: 1px solid $border-menu-color;
  box-sizing: border-box;
}

.form__input-radio:checked ~ .form__label--radio::after {
  position: absolute;
  left: 9px;
  top: 4px;

  width: 12px;
  height: 12px;

  content: "";

  border-radius: 50%;
  background-color: $content-color;
}

.form__subtitle {
  display: inline-block;
  padding: 0 20px;
  margin: 0 0 35px;
  max-width: 57%;

  @include big-footnote-text;
  font-weight: 400;
  color: $title-color;

  background-color: $primary-color;
}

.form__icon--email {
  position: absolute;
  top: 15px;
  right: 36px;
}

.form__icon--tel {
  position: absolute;
  top: 12px;
  right: 33px;
}

.form__input-text:invalid:focus {
  outline: $error-color solid 2px;
}

.form__input-text:invalid:focus ~ .form__icon {
  fill: $error-color;
}

.form__input-text:focus ~ .form__icon {
  fill: $content-color;
}

.form__input-radio:checked:focus ~ .form__label--radio::before,
.form__input-checkbox:checked:focus ~ .form__label--checkbox::before,
.form__input-checkbox:focus ~ .form__label--checkbox::before,
.form__input-text:focus,
.form__text-field:focus {
  outline: $text-color solid 2px;
}

.form__container {
  @include mobile-wrapper;

  &--strip {
    padding: 0;
  }
}

.form__text-field {
  width: 100%;
  height: 149px;
  padding: 13px 13px 9px;

  @include form-small-text;
  text-transform: uppercase;

  border: 1px solid $border-menu-color;
  box-sizing: border-box;
}

.form__input-checkbox:checked ~ .form__label--checkbox::after {
  position: absolute;
  left: 5px;
  top: 3px;

  width: 21px;
  height: 16px;

  content: "";

  background: url("../img/icon-tick.svg") no-repeat top center;
}

.form__confirmation {
  @include mobile-wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__btn {
  width: 100%;

  @include btn-text;

  margin-bottom: 19px;
}

.form__explanation {
  margin: 0;

  line-height: 16px;
  font-family: $second-font;
}

@media (min-width: $tablet-width) {
  .form__description {
    display: block;
    width: 340px;

    margin-bottom: 66px;

    font-size: 20px;
    line-height: 30px;
  }

  .form__group {
    margin: 0 0 66px;

    &--general {
      margin-bottom: 76px;

      @include tablet-form-wrapper;
      border: none;
    }

    &::before {
      top: 22px;
    }
  }

  .form__item-list {
    padding: 0;
    margin: 0 0 72px;

    border-bottom: none;

    &--programm {
      padding: 34px 0;

      border: 1px solid $border-menu-color;
    }

    &--contacts {
      @include tablet-form-wrapper;
    }

    &--additional {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;

      @include tablet-form-wrapper;
    }
  }

  .form__item {
    margin-bottom: 21px;
    padding: 0;

    @include important-text;

    &--programm {
      margin: 0 0 33px;
    }

    &--additional {
      margin: 0 0 52px;
      min-width: 287px;

      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
  }

  .form__input-text {
    padding: 12px 18px 14px;
  }

  .form__label {
    &--radio {
      padding-left: 87px;

      &::before {
        left: 28px;
        top: -9px;

        width: 38px;
        height: 38px;
      }
    }

    &--checkbox {
      padding-left: 57px;

      &::before {
        left: 0;
        top: -9px;

        width: 38px;
        height: 38px;
      }
    }
  }

  .form__input-radio:checked ~ .form__label--radio::after {
    left: 39px;
    top: 2px;

    width: 18px;
    height: 18px;
  }

  .form__subtitle {
    padding: 0 40px;
    margin: 0 0 76px 30px;
    max-width: 520px;

    font-size: 36px;
    line-height: 36px;

    &--additional {
      margin-bottom: 65px;
    }
  }

  .form__icon--email {
    top: 21px;
    right: 19px;
  }

  .form__icon--tel {
    top: 18px;
    right: 16px;
  }

  .form__container {
    @include tablet-form-wrapper;

    &--strip {
      padding: 0;
    }
  }

  .form__text-field {
    padding: 9px 18px;
    height: 172px;

    font-size: 20px;
    line-height: 30px;
  }

  .form__input-checkbox:checked ~ .form__label--checkbox::after {
    left: 9px;
    top: 3px;
  }

  .form__confirmation {
    @include tablet-form-wrapper;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }

  .form__btn {
    flex-grow: 1;
    width: 283px;
    padding: 15px 10px;
    margin-right: 60px;

    @include important-text;
  }

  .form__explanation {
    flex-grow: 1;
    width: 285px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__group {
    &--general {
      display: flex;
      justify-content: space-between;
      margin: 0 auto 72px;

      @include desktop-wrapper;
    }

    &--contacts {
      margin-bottom: 48px;
    }

    &--comment {
      margin-bottom: 69px;
    }

    &--additional {
      margin-bottom: 43px;
    }
  }

  .form__item-list {
    &--general,
    &--programm {
      width: 570px;
      margin: 0;
    }

    &--contacts {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin: 0 auto 72px;
      padding: 0;
    }

    &--additional {
      padding: 0;
      margin: 0 auto;
    }
  }

  .form__input-text:hover,
  .form__text-field:hover {
    border: 1px solid $border-metrics-color;
  }

  .form__label--radio:hover::before,
  .form__label--checkbox:hover::before {
    border: 1px solid $radio-hover-color;
  }

  .form__label--radio:active,
  .form__label--checkbox:active {
    opacity: 0.3;
  }

  .form__subtitle {
    padding: 0 40px 0 0;
    margin: 0 0 74px 0;

    &--additional {
      margin-bottom: 65px;
    }
  }

  .form__item {
    &--contacts {
      width: 570px;
    }

    &--additional {
      margin: 0 0 30px;
      min-width: 245px;
    }
  }

  .form__container {
    @include desktop-wrapper;
    margin: 0 auto;

    &--strip {
      background-image: linear-gradient(90deg, #ffffff 40px, transparent 40px);
    }

    &--comment {
      padding: 0;
    }
  }

  .form__confirmation {
    @include desktop-wrapper;
    margin: 0 auto;
  }

  .form__btn {
    flex-grow: 0;
    width: 568px;
  }

  .form__explanation {
    flex-grow: 0;
    width: 570px;
  }
}
