.modal-cart {
  top: 120px;
  left: 50%;

  // display: none;
  width: 620px;
  margin-left: -310px;

  border-top: 7px solid $content-color;
}

.modal-cart-heading {
  padding: 68px 0 68px 50px;
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}
