.more-goods {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-goods__image {
  margin-bottom: 21px;

  opacity: 0.2;
}

.more-goods__text {
  margin-bottom: 8px;

  color: $title-color;

  @include btn-text;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.more-goods__description {
  margin: 0 0 20px 0;

  font-family: $second-font;

  @include footnote-text;
  text-align: center;
}

.more-goods__btn {
  align-self: stretch;

  color: $text-color;

  @include btn-text;

  background-color: $bg-block-color;
}

@media (min-width: $tablet-width) {
  .more-goods {
    width: 246px;
  }

  .more-goods__image {
    margin-bottom: 50px;
    width: 60px;
    height: 60px;
  }

  .more-goods__text {
    width: 135px;
    margin-bottom: 28px;

    font-size: 20px;
  }

  .more-goods__description {
    margin-bottom: 87px;
    padding: 0 10px;
    width: 90%;

    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .more-goods {
    width: 167px;
  }

  .more-goods__image {
    margin-bottom: 45px;
  }

  .more-goods__description {
    width: 100%;
    padding: 0;
  }

  .more-goods__btn {
    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
