.page-footer {
  background-color: $bg-block-color;
}

.page-footer__wrapper {
  padding: 42px 20px 22px;
}

.page-footer__logo {
  padding-bottom: 29px;

  text-align: center;

  @include border-bottom;
}

.page-footer__social {
  padding: 20px 0 10px;

  @include border-bottom;
}

.page-footer__site-developer {
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 58px 30px;
  }

  .page-footer__logo {
    padding-bottom: 0;
    margin-right: 150px;

    text-align: center;

    border-bottom: none;
  }

  .page-footer__social {
    padding: 0;
    margin-right: 135px;

    border-bottom: none;
  }

  .page-footer__site-developer {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1220px;
    margin: 0 auto;
    padding: 58px 40px;
  }

  .page-footer__logo-link {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
