.page-main__diet-programm {
  position: relative;
  padding: 27px 20px 21px;
}

.page-main__services {
  padding: 0 20px;
  margin-bottom: 18px;
}

.page-main__advantages {
  padding: 0 20px;
  margin-bottom: 42px;
}

.page-main--catalog {
  padding-top: 15px;
  border-top: 1px solid $border-goods-color;
}

.page-main--catalog__title {
  padding: 0 20px;
  margin-bottom: 27px;
}

@media (min-width: $tablet-width) {
  .page-main__diet-programm {
    padding: 15px 27px 0;
  }

  .page-main__services {
    padding: 0 30px;
    margin-bottom: 47px;
  }

  .page-main__advantages {
    padding: 0 30px;
  }

  .page-main--catalog {
    padding-top: 16px;
    border-top: none;
  }


  .page-main--catalog__title {
    padding: 0 30px;
    margin-bottom: 165px;

    @include big-title;
  }

  .page-main__products {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__diet-programm {
    padding: 20px 0 0;
    margin-bottom: 265px;
  }

  .page-main__services {
    @include desktop-wrapper;
    margin: 0 auto 83px;
  }

  .page-main__advantages {
    @include desktop-wrapper;
    margin: 0 auto;
  }

  .page-main--catalog {
    padding-top: 58px;
  }

  .page-main--catalog__title {
    @include desktop-wrapper;
    margin-right: auto;
    margin-left: auto;
  }

  .page-main__products {
    @include desktop-wrapper;
    margin: 0 auto;
  }
}
