.page-main__diet-programm {
  margin-bottom: 22px;
}

.page-main__services {
  padding: 0 20px;
  margin-bottom: 22px;
}

.page-main__advantages {
  padding: 0 20px;
  margin-bottom: 42px;
}

.page-main--catalog {
  padding: 20px 0 35px;
}

.page-main--catalog__title {
  padding: 0 20px;
}
