.services__list {
  @include reset-list;
}

.services__item {
  position: relative;

  margin-bottom: 20px;
  padding: 30px 20px 20px;

  background-color: $bg-block-color;

  &::before {
    position: absolute;
    left: 22px;
    top: 25px;

    width: 50px;
    height: 50px;

    content: "";

    background: $content-color no-repeat 0 0;
    border-radius: 50%;
  }
}

.services__item:nth-last-child(1) {
  margin-bottom: 0;
}

.services__item--loss::after {
  position: absolute;
  left: 30px;
  top: 22px;

  width: 35px;
  height: 49px;

  content: "";

  background: url("../img/icon-cat-slim.svg") no-repeat 0 0;
}

.services__item--gain::after {
  position: absolute;
  left: 13px;
  top: 35px;

  width: 67px;
  height: 28px;

  content: "";

  background: url("../img/icon-cat-pro.svg") no-repeat 0 0;
}

.services__title {
  margin: 0 0 30px 0;
  padding-left: 71px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.services__description {
  margin: 0 0 40px 0;

  font-family: $second-font;

  @include border-bottom;
}

.services__link {
  position: relative;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $title-color;

  &::after {
    position: absolute;
    right: -35px;
    top: 8px;

    width: 24px;
    height: 11px;

    content: "";

    background: url("../img/icon-right-arrow-long.svg") no-repeat 0 0;
  }
}

@media (min-width: $tablet-width) {
  .services__item {
    margin-bottom: 30px;
    padding: 76px 280px 60px 53px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .services__item--gain {
    padding-right: 313px;
  }

  .services__title {
    margin: 0 0 25px 0;
    padding-left: 0;


    font-size: 36px;
    text-align: left;

    &::before {
      position: absolute;
      right: 62px;
      top: 92px;

      width: 200px;
      height: 200px;

      content: "";

      background: $content-color no-repeat 0 0;
      border-radius: 50%;
    }
  }

  .services__item--loss .services__title::after {
    position: absolute;
    right: 92px;
    top: 80px;

    width: 140px;
    height: 194px;

    content: "";

    background: url("../img/icon-cat-slim.svg") no-repeat 0 0;
  }

  .services__item--gain .services__title::after {
    position: absolute;
    right: 28px;
    top: 136px;

    width: 268px;
    height: 112px;

    content: "";

    background: url("../img/icon-cat-pro.svg") no-repeat 0 0;
  }

  .services__description {
    margin: 0 0 55px 0;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .services__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      right: -45px;
      top: 10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .services__item {
    width: 470px;
    padding: 50px;
    margin-bottom: 0;

    &::before {
      display: block;
      left: 52px;
      top: 47px;

      width: 100px;
      height: 100px;
    }

    &::after {
      display: block;
    }
  }

  .services__item--loss::after {
    left: 66px;
    top: 41px;

    width: 70px;
    height: 97px;
  }

  .services__item--gain::after {
    left: 34px;
    top: 69px;

    width: 134px;
    height: 56px;
  }

  .services__title {
    margin: 30px 0 65px 0;
    padding-left: 50px;

    text-align: center;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .services__description {
    margin-bottom: 40px;
  }

  .services__link {
    &:hover::after {
      right: -54px;

      width: 33px;

      background: url("../img/icon-right-arrow-verylong.svg") no-repeat 0 0;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
