.site-list {
  @include reset-list;
  @include important-text;
  text-align: center;
  text-transform: uppercase;
}

.site-list__item {
  display: block;
  padding: 22px 20px;

  color: $title-color;

  border-top: 1px solid $border-menu-color;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 440px;
    border-top: none;

    font-size: 18px;
    line-height: 25px;
  }

  .site-list__item {
    padding: 18px 0 6px;
    border-top: none;
  }

  .site-list__item--active {
    border-bottom: 2px solid $content-color;
  }

  li:nth-child(1) .site-list__item {
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 480px;
    font-size: 20px;
  }

  .site-list__item {
    color: $primary-color;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .site-list__item--active {
    border-bottom-color: $primary-color;

    &:hover {
      opacity: 1;
    }
  }

  .site-list__item--inner {
    color: $title-color;
  }

  .site-list__item--inner.site-list__item--active {
    border-bottom: 2px solid $content-color;
  }
}
