.site-list {
  @include reset-list;

  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  border-top: 1px solid $border-menu-color;
}

.site-list__item a {
  display: block;
  padding: 22px 20px;

  color: #111111;

  border-bottom: 1px solid $border-menu-color;
}
