.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include reset-list;
}

.social__item {
  margin-right: 40px;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  &--vk {
    width: 22px;
    height: 12px;

    background: url("../img/icon-vk.svg") no-repeat 0 0;
  }

  &--instagram {
    width: 16px;
    height: 16px;

    background: url("../img/icon-insta.svg") no-repeat 0 0;
  }

  &--fb {
    width: 10px;
    height: 19px;

    background: url("../img/icon-fb.svg") no-repeat 0 0;
  }
}

@media (min-width: $tablet-width) {
  .social__item {
    margin-right: 28px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  .social__link {
    display: block;

    &--vk {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
