.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include reset-list;
}

.social__item {
  margin-right: 40px;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  &-icon--vk {
    width: 22px;
    height: 12px;
  }

  &-icon--instagram {
    width: 16px;
    height: 16px;
  }

  &-icon--fb {
    width: 10px;
    height: 19px;
  }
}

@media (min-width: $tablet-width) {
  .social__item {
    margin-right: 28px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  .social__link {
    display: block;
  }

  .social__link-icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social__link-icon {
    &:hover path {
      fill: #68b738;
    }

    &:hover circle {
      fill: #68b738;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
