@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin border-bottom {
  border-bottom: 1px solid $border-color;
}

@mixin big-title {
  font-size: 60px;
  line-height: 60px;
}

@mixin desktop-wrapper {
  width: 1220px;
  padding: 0 40px;
}
